.request-params {
    width: 100%;
    font-size: 0.85rem;
    color: #6B7280;

    &_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        font-weight: 600;
        border-radius: 2px;

    }

    &_body {
        width: 100%;

        & .params_body_column {
            height: 100%;
            padding: 2px;

            display: flex;
            justify-content: center;
            align-items: center;
            //     border-right-width: 1px;
            //     border-right-style: solid;
            //     border-right-color: aqua;
        }
    }
}